<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ipet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ipet"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DetalheProduto"
            android:exported="false" />
        <activity
            android:name=".ProdutosPetshop"
            android:exported="false" />
        <activity
            android:name="home.BarraNavegacao"
            android:exported="false" />
        <activity
            android:name="home.ShopView"
            android:exported="false" />
        <activity
            android:name="home.BannerView"
            android:exported="false" />
        <activity
            android:name="home.CategoryView"
            android:exported="false" />
        <activity
            android:name="home.Category"
            android:exported="false" />
        <activity
            android:name="home.Home"
            android:exported="false" />
        <activity
            android:name=".Petshops"
            android:exported="false" />
        <activity
            android:name="cadastro.Cadastro"
            android:exported="false" />
        <activity
            android:name="cadastro.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>