@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.clientFeedback {
    height: 200px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}


.client1{
    width: 600px;
    height: 400px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.imgClient1{
    position: absolute;
    width: 181px;
    height: 152px;
    left: 79px;
    top: 704px;
    border: 1px solid #2484EC;
    box-sizing: border-box;
}

.client2{
    width: 700px;
    height: 300px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.client3{
    width: 700px;
    height: 300px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.client4{
    width: 700px;
    height: 300px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}