.btn {
    padding: 10px;
    width: 100px;
    color: #000000;
    font-family: Montserrat;
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid #3FFE96;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Montserrat;
}

.btn:hover {
    background-color: #fff;
    color: #007DC5;
    border: 1px solid #007DC5;
    cursor: pointer;
}

.btn-verde {
    padding: 10px;
    color: #fff;
    font-family: Montserrat;
    font-weight: bold;
    background: #169F00;
    border-radius: 6px;
    font-family: Montserrat;
    width: 60px;
    height: 40px;
    margin: 0 auto;
    outline: none;
    text-decoration: none;
    opacity: 1;
    border: 0;
}

.btn-verde:hover {
    opacity: 0.9;
    cursor: pointer;
}