.btn {
    padding: 10px;
    width: 100px;
    color: #000000;
    font-family: Montserrat;
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid #3FFE96;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Montserrat;
}

.btn:hover {
    background-color: #fff;
    color: #007DC5;
    border: 1px solid #007DC5;
    cursor: pointer;
}